@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

ul
{
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 16px;
    list-style: none;
}

.header
{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.header-nav
{
    display: flex;
    margin: 16px 0;
}

.header-nav div
{
    font-weight: bold;
    font-size: 24px;
}

.header-nav-right
{
    margin-left: auto;
}

.header-body
{
    display: flex;
    margin: 122px 0;
    column-gap: 0px;
}

.hbody-left
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 500px;
}

.hbody-left h1
{
    margin: 5px 0;
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
}

.hbody-left p
{
    margin-top: 0;
    margin-bottom: 12px;
    width: 450px;
}

.hbody-left button
{
    padding: 8px 32px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.hbody-right img
{
    width: 500px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.info-pane
{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.info-image
{
    width: 154px;
    height: 154px;
    border: solid 4px #3882f6;
    border-radius: 15px;
}

div.info-box
{
    display: flex;
    flex-direction: column;
}

.info-box p
{
    width: 161px;
    text-align: center;
    font-size: 18px;
    color: grey;
}

.info-pane h2
{
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    margin: 42px 0;
}

.infobox-container
{
    column-gap: 48px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.infobox-container div
{
    display: flex;
    flex-direction: column;
}

.quote-pane
{
    background-color: #E5E7EB;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1F2937;
}

.quote-box
{
    width: 825px;
    margin: 112px 0;
}


.quote-box p
{
    margin: 0;
}

.signup-pane
{
    background: white;
    color: white;
    padding: 100px 280px;
}

.signup-banner
{
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    column-gap: 200px;
    border-radius: 10px;
}

.signup-banner button
{
    padding: 5px 32px;
    font-size: 18px;
    color: inherit;
    background-color: inherit;
    border: solid 2px white;
    border-radius: 8px;
    font-weight: bold;
}

.banner-text h3
{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.banner-text p
{
    margin: 0;
    font-size: 18px;
}

.footer
{
    color: white;
    background-color: #1F2937;
}