body
{
    height: 100vh;
    margin: 0;
}

.header
{
    background-color: #1F2937;
    color: white;
}

.info-pane
{
    background-color: white;
}

div.info-image
{
    width: 100px;
    height: 100px;;
    border: solid 2px #3882f6;
    border-radius: 5%;
}

.quote-pane
{
    background-color: #E5E7EB;
    font-size: 36px;
}

.signup-pane
{
    background: white;
    color: white;
}

.signup-banner
{
    background-color: #3882F6;
}

.footer
{
    color: white;
    background-color: #1F2937;
}